{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %}

<!-- Tailwin CSS -->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="container">

<!-- Loading 
 <div class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div> --> 

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100">
      
      {% for post in allPosts %}
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">{{post.category}}</span>
          <span class="text-sm text-gray-500">{{ post.timeStamp }}</span>
        </div>
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ post.title }}</h2>
          <p class="leading-relaxed"> {{ post.content|truncatewords:"25"|linebreaks }}</p>
          <a class="text-blue-500 inline-flex items-center mt-4">Continue reading 
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>

     {% endfor %}

    </div>
  </div>
</section>

</div>


{% endblock body %}