{% extends 'base.html' %}

{% block title %} BlogPost {% endblock title %}

{% block body %}

{% load humanize %}

{% load extras %}

<div class="container">
  <div class="row g-5 mt-4 mb-5">
    <div class="col-md-8">
      <h3 class="pb-1 pt-4 mb-2 fst-italic">
        {{ post.title }}
      </h3>
      <p class="blog-post-meta">Published on {{ post.timeStamp }} by <a href="#">{{ post.author }}</a></p>


      <br>
      <hr />
      <img src="/media/{{ post.thumbnail }}" class="img-fluid pb-5" alt="Image">


      <article class="blog-post">

        <!-- Heading 1 -->
        <h2 class="blog-post-title">{{ post.heading }}</h2>

        <!-- Content for heading 1 -->
        <p>{{ post.content }}</p>

        {% comment %}
        <!-- Heading 2 -->
        <h2 class="blog-post-title">{{ post.head1 }}</h2>

        <!-- Content for heading 2 -->
        <p>{{ post.chead1 }}</p>

        <!-- Heading 3 -->
        <h2 class="blog-post-title">{{ post.head2 }}</h2>

        <!-- Content for heading 3 -->
        <p>{{ post.chead2 }}</p> {% endcomment %}

      </article>



    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">My Awesome Blog in a Blogging Plateform where you can find Blogs related to various topics
            such as Programming, Machine Learning , Data Science and many more .</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Contact Us on: </h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>



    <div class="container">
      <h3>Comments ({{ comments.count}}) </h3>
      <form action="/blog/postComment" method="post">
        {% csrf_token %}

        {% if user.is_authenticated %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Post Your Comment Here</label>
          <input type="text" name="comment" id="comment" class="form-control">
        </div>
        <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>

        <input type="hidden" name="postSno" value="{{post.sno}}">
         <input type="hidden" name="parentSno" value=""> 
      </form>

      {% else %}
      <p>Please login to post a comment</p>

      {% endif %}

      {% for comment in comments %}

      <div class="row my-3">
        <div class="col-md-1">
          <img class="rounded mx-auto d-block w-100 p-2" src="/static/images/user.png" alt="My image">
        </div>
        <div class="col-md-11">
          <b> {{ comment.user.username }} </b><span class="badge bg-secondary m-2">{{ comment.timestamp |naturaltime}}</span>
          <br>
          <div> {{ comment.comment}} </div>
          
          <div class="reply mx-0">
          {% if user.is_authenticated %}
            <button class="btn btn-sm btn-primary mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{ comment.sno }}" aria-expanded="false" aria-controls="replyBox{{ comment.sno }}">
              Reply
            </button>
          <div class="collapse" id="replyBox{{ comment.sno }}">
            <div class="card card-body my-2">
               
               <form action="/blog/postComment" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="comment" class="form-label">Post Your Reply</label>
                    <input type="text" name="comment" class="form-control">
                     <input type="hidden" name="parentSno" value="{{ comment.sno }}">      
                </div>
                <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>

                <input type="hidden" name="postSno" value="{{post.sno}}">
              </form>   
            </div>
          </div>

          {% else %}
            <button class="btn btn-sm btn-primary mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{ comment.sno }}" aria-expanded="false" aria-controls="replyBox{{ comment.sno }}" disabled>
              Reply
            </button>

          {% endif %}


         <div class="replies bg-danger my-2">
              {% for reply in replyDict|get_val:comment.sno %}
                    {{reply.comment}}
                    <br>
              {% endfor %}
         </div>
        </div>

        </div>
     

      </div>

      {% endfor %}
    </div>

  </div>
</div>


{% endblock body %}